@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');

body {
    margin: 0;
    background: aliceblue;
    font-family: 'Montserrat' , 'sans-serif';
}

button {
	background-color:aliceblue;
	border: none;
	outline: none;
	color:#000000;
	padding: 15px 22px;
	text-align: right;
	float: right;
	text-decoration: none;
	font-family: 'Montserrat';
	display: inline-block;
	font-size: 16px;
	border-radius: 12px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

a {
	color: black;
	text-decoration: none;
	font-size: 18px;
	font-weight: bold;
}

button:hover {
	background-color: #CDD8E5;
	color: white;
}

.footerkast {
    width: 100%;
    background: #1a1818;
    color: white;
    padding: 3em 0;
    transform: skewY(1deg);
}


ul.aluminetekst {
    margin: 0 auto;
}
ul.aluminetekst li {
    display: inline-block;

}

ul.aluminetekst li {
    color: white;
    font-size: .8em;

}

u.aluminetekst li a {
    color: white;
    font-size: .8em;
}