@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');

body {
    margin: 0;
    background: aliceblue;
    font-family: 'Montserrat' , 'sans-serif';
}

p, blockquote {
    font-size: .9em;
    line-height: 1.6em;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.kast {
    text-align: center;
    padding: .8em 1.2em;
}

.pealkiri{
    width: 350px;

}

header {
    display: flex;
    justify-content: space-between;
}

.vahelehed{
    width: 25px;
    margin-top: 45%;
}



button {
	background-color:aliceblue;
	border: none;
	outline: none;
	color:#000000;
	padding: 15px 22px;
	text-align: right;
	float: right;
	text-decoration: none;
	font-family: 'Montserrat';
	display: inline-block;
	font-size: 16px;
	border-radius: 12px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

a {
	color: black;
	text-decoration: none;
	font-size: 18px;
	font-weight: bold;
}

button:hover {
	background-color: #CDD8E5;
	color: white;
}


.peapilt {
    width: 70%;
    padding-top: 2em;
}

h1 {
    padding-top: 2em;
}

h1, .tekst {
    position: relative;
    z-index: 3;
}

.tekst {
    font-size: 1.1em;
}

.mustkast {
    width: 100%;
    background: #1a1818;
    color: white;
    margin: 15% 0 0;
    padding: 4em 0 2em;
    transform: skewY(-1deg);
}

.mustkast ul {
    transform: skewY(1deg);
}
.valgekast {
    padding: 4em 0 2em;
}

.valgekast ul li:first-child {
    margin-bottom: 2em;
}

figure {
    margin: 0;
    padding: 0;
}

figcaption {
    font-weight: bold;
    color: #1a1818
}

h2 {
    margin-top: 7%;
}

.footerkast {
    width: 100%;
    background: #1a1818;
	bottom: 0;
    color: white;
    padding: 2em 0;
	margin-left: 0;
	margin-bottom: 0;
	
	
}

#hinnakiriFooter {
	width: 100%;
	padding: 5em;
	margin-left: -13em;
}


ul.aluminetekst li {
    display: inline-block;
	

}

ul.aluminetekst li a {
    color: white;
	font-size: .8em;

}


@media only screen and (min-width: 650px) {
    .peapilt {
        width: 50%;
    }
    h1 {font-size: 3em;
        margin: 0;
    }

    .tekst {
        font-size: 1.4em;
        margin-bottom: 12%;


    }

    .mustkast {
        margin: 0;
    }

    .mustkast ul li:nth-child(3) {
        width: 11%;
        margin-top: -6px
    }
    .mustkast ul {
        display: flex;
        margin-top: -1em;
        align-items: center;
    }

    .mustkast ul li {
        margin-bottom: 0;
    }

    .mustkast ul li p {
        padding: 0 .8em;
    }
    .valgekast ul {
        display: flex;
    }

    nav ul {
        width: 40%;
    }
}

@media only screen and (min-width: 875px) {
    .tekst {
        margin-bottom: 15%;

    }
    .mustkast ul {
        margin: 0 0 4% 0;
    }
    .valgekast ul {
        margin: 4% 0 0;
    }
}

@media only screen and (min-width: 1024px) {

    .kast {
        width: 80%;
        margin: 0 auto;

    }
    .vahelehed {
        display: block;
        margin: 0 auto 13% auto;
    }

    nav ul {
        position: inherit;
        width: auto;
        background: none;
        height: auto;
        display: flex;
        padding-top: 0;
    }
    nav ul li {
        float: left;
    }
    nav ul li a {
        color: black;
        background-color: inherit;
        text-align: right;
        padding: 1em 2em;

    }
    nav ul li a:hover {
        background-color: inherit;
    }
}

@media only screen and (min-width: 1600px) {
    .peapilt {
        width: 40%;
        margin: 5em auto 4em 15%;

    }

    .kast {
        width: 70%;

    }

    .mustkast {
        padding: 7em 0 2em;
    }

    .mustkast ul li p, blockquote {
        font-size: 1.3em;
    }
    .valgekast {
        padding: 6em 0 4em;

    }

    h2 {
        margin-top: 4em;
    }
}

@media only screen and (min-width: 1920px) {
	.footerkast {
    width: 125%;
    background: #1a1818;
	bottom: 0;
    color: white;
    padding: 2em 0;
	margin-left: -13.5em;
	margin-bottom: -15em;
	}
	
	#hinnakiriFooter {
	width: 150%;
	padding: 5em;
	margin-left: -13em;
	}
	
	.mustkast {
    width: 113.5%;
    background: #1a1818;
    color: white;
    margin: 15% 0 0;
    padding: 4em 0 2em;
    transform: skewY(-1deg);
	}

}
	

table.hinnatabel {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  border: 0px solid #1C6EA4;
 
  width: 120%;
  margin-left:auto;
  margin-right:auto;
  margin-top:2em;
  text-align: left;
  border-collapse: collapse;
}
table.hinnatabel td, table.hinnatabel th {
  border: 0px solid #AAAAAA;
  padding: 20px 5px;
}
table.hinnatabel tbody td {
  font-size: 14px;
}

table.hinnatabel thead {
  background: #1C6EA2;
  background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  border-bottom: 2px solid #444444;
}
table.hinnatabel thead th {
  font-size: 18px;
  font-weight: bold;
  color: black;
  background-color: aliceblue;
  border-left: 0px solid #D0E4F5;
}
table.hinnatabel thead th:first-child {
  border-left: none;
}

table.hinnatabel tfoot td {
  font-size: 14px;
}
table.hinnatabel tfoot .links {
  text-align: right;
}
table.hinnatabel tfoot .links a{
  display: inline-block;
  background: #1C6EA4;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}

tr:hover {
	background-color: white;
}

td:hover {
	background-color: white;
}

#lisainfoList {
	font-size:18px;
	list-style-type: disc;
	list-style-position: inside;
	text-align: center;
	margin-bottom: -3.5em;
}

* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

#kontakt {
    margin: 0;
    background: aliceblue;
    font-family: 'Montserrat' , 'sans-serif';
	text-align: center;
	
}

#olemeAvatud {
	font-weight: bold;
	font-size: 25px;
}

#lahtiolek {
	font-weight: bold;
	font-size: 20px;
}

#telefon {
	font-size: 19px;
}

#number {
	font-weight: bold;
	font-size: 20px;
}

#aadress {
	font-size: 17px;
}

#asukoht {
	font-size: 18px;
	font-weight: bold;
}

#e-post {
	font-size: 17px;
}

#email {
	font-weight: bold;
}

hr {
	width: 33%;
	height:2px;
}

#googlemaps {
	border=0px;
    allowfullscreen=""
	
}

#kontaktFooter {
	margin-left: -5em;
}

#galeriiFooter {
	margin-left:-2em;
	padding: 2em;
}